.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.textRight {
  flex-direction: row-reverse;
}
.textLeft {
  flex-direction: row;
}
.textCenter {
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
}
.textGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 600px;
  .button {
    margin-top: 12px;
  }
}
.buttonContainer {
  display: flex;
  gap: 16px;
}
.button {
  border-radius: 100px;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: fit-content;
  justify-content: center;
  gap: 8px;
  margin-bottom: 0;
  padding: calc(0.7rem - 1px) calc(1.7rem - 1px);
  transition: all 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  img {
    position: absolute;
    right: 20px;
    margin-top: 2px;
    transition: all 0.3s ease;
  }
  &:hover {
    img {
      right: 14px;
    }
  }
}

.primary {
  background-color: var(--color-green);
  color: var(--text-dark);
  color: white;
  position: relative;
  padding-right: 56px;
  &:hover,
  &:focus {
    background-color: var(--color-green-hover);
  }
}
.secondary {
  background-color: var(--color-red);
  color: white;
  position: relative;
  padding-right: 56px;
  &:hover,
  &:focus {
    background-color: var(--color-red-hover);
  }
}
.outline {
  // background-color: white;
  border: 1px solid var(--color-red);
  // box-shadow: var(--button-outline-shadow);
  color: var(--color-red);
  font-weight: 500;
  &:hover,
  &:focus {
    background-color: var(--color-red);
    // border:1px solid var(--button-outline-hover);
    color: var(--text-light);
  }
}
.tertiary {
  background-color: var(--color-green);
  color: var(--text-dark);
  color: white;
  position: relative;
  padding-right: 56px;
  &:hover,
  &:focus {
    background-color: var(--color-green-hover);
  }
}
@media screen and (max-width: 1232px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 848px) {
  .tertiary {
    background-color: var(--color-red-light);
    color: white;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 100%;
    max-width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    img {
      position: relative;
      left: 8px;
      margin-top: 2px;
      &:hover {
        left: 8px;
      }
    }
  }
}
