.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.textRight {
  flex-direction: row-reverse;
}
.textLeft {
  flex-direction: row;
}
.textCenter {
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
}
.textGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
}
.buttonContainer {
  display: flex;
  gap: 16px;
}
.button {
  border-radius: 100px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: fit-content;
  justify-content: center;
  gap: 8px;
  margin-bottom: 0;
  padding: calc(0.7rem - 1px) calc(1.7rem - 1px);
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  // box-shadow: var(--box-shadow-small);
  svg {
    height: 15px;
    margin-left: 8px;
  }
}

.primary {
  background-color: var(--color-green);
  color: var(--text-dark);
  color: white;
  &:hover,
  &:focus {
    background-color: var(--color-green-hover);
    box-shadow: var(--box-shadow-small);
  }
}
.secondary {
  background-color: var(--color-red);
  color: white;
  position: relative;
  &:hover,
  &:focus {
    background-color: var(--color-red-hover);
    box-shadow: var(--box-shadow-small);
  }
}
.outline {
  background-color: white;
  border: 1px solid var(--color-green-dark);
  // box-shadow: var(--button-outline-shadow);
  color: var(--color-green-dark);
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: var(--button-outline-hover);
    border:1px solid var(--button-outline-hover);
    color: var(--button-outline-hover-text);
  }
}

@media screen and (max-width: 768px) {
  .outline {
    pointer-events: none;
  }
  .button{
    width: 100%;
    max-width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
  }

}
