.nieuwsContainer {
    display:flex;
    flex-direction: column;
    padding-top: 32px;
}
.postGroup {
    max-width: 640px;
    display:flex;
    flex-direction: column;
    gap: 24px;
    a {
        color: var(--color-green-dark);
        text-decoration: underline;
    }
}

.image {
    position: relative;
    width:100%;
    height:400px;
    img { 
        border-radius: var(--border-radius-medium);
    };
}
.date {
    color: var(--color-green-dark);
  }