.nieuwsContainer {
    display:flex;
    flex-direction: column;
    padding-top: 32px;
}
.postGroup {
    max-width: 640px;
    display:flex;
    flex-direction: column;
    gap: 48px;
}
.image {
    position: relative;
    width:100%;
    height:400px;
    img { 
        border-radius: var(--border-radius-medium);
    };
}