@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Work+Sans:wght@400;500;600;700;900&display=swap");
@import "./styles/classes";

:root {
  --max-width: 1200px;

  --text-dark: black;
  --text-light: white;
  --text-gray: #a7a7a7;

  --color-green: #a7c957;
  --color-green-hover: #93b14c;

  --color-green-light: #cad7a2;
  --color-green-dark: #60a561;
  --color-green-darkest: #00473b;

  --color-red: #d95d39;
  --color-red-hover: #c95535;
  --color-red-dark: #b44322;
  --color-red-light: #e17c61;

  --color-beige-light: #fffcf1;
  --color-beige: #f2d7a3;

  --border-radius-small: 10px;
  --border-radius-medium: 20px;
  --border-radius-large: 30px;

  --box-shadow-small: rgba(96, 90, 69, 0.347) 0px 7px 22px 0px;
}

p,
a,
strong,
span,
li,
ul,
ol,
blockquote,
pre,
code,
em,
small {
  font-family: var(--font-manrope);
  font-size: 16px;
  line-height: calc(16px * 1.4);
  // font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color:#4A4A4A;
  max-width: 600px;
}
a{
  color: var(--color-green-dark);
}
h1,
h2,
h3,
h4,
h5,
.lastWord {
  font-family: var(--font-lambda);
  font-size: 48px;
  line-height: calc(48px * 1.1);
  letter-spacing: -0.0125em;
  word-wrap: break-word;
  font-weight: 500;
  color:#171717;
}
.lastWord {
  color: var(--color-green-dark);
  font-size: 60px;
  line-height: 52px;
}
h3 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: var(--color-beige-light);
  position: relative;
  z-index: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-dark);
}
strong {
  color: var(--color-red);
  font-family: var(--font-lambda);
  font-size: 32px;
}
img {
  max-width: 100%;
}
.body-scroll-lock {
  overflow: hidden;
}
html.body-scroll-lock {
  overflow: hidden;
}
