@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Work+Sans:wght@400;500;600;700;900&display=swap');
@import "./styles/classes";


:root {
  --max-width: 1200px;

  --text-dark: black;
  --text-light: white;
  --text-gray: #A7A7A7;;

  --color-green:#A7C957;
  --color-green-hover:#93b14c;

  --color-green-light: #CAD7A2;
  --color-green-dark: #60A561;
  --color-green-darkest: #00473B;

  --color-red: #D95D39;
  --color-red-hover: #c95535;
  --color-red-dark: #B44322;
  --color-red-light: #E17C61;

  --color-beige-light: #FFFCF1;
  --color-beige: #F2D7A3;

  --border-radius-small: 10px;
  --border-radius-medium: 20px;
  --border-radius-large: 30px;

  --box-shadow-small:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

p,
a,
strong,
span,
li,
ul,
ol,
blockquote,
pre,
code,
em,
small {
  font-family: var(--font-manrope);
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-lambda);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 1pt;
  word-wrap: break-word;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: var(--color-beige-light);
  position: relative;
  z-index: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-dark);
  font-family: "Lambda", sans-serif;
}