.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}
.textGroup {
    gap:16px;
}
.heading {
    margin-bottom: 16px;
}
.image {
  position: relative;
  width: 100%;
  height: 240px;
  img {
    border-radius: var(--corner-radius);
  }
}
