.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  cursor: pointer;
  &:hover {
    .image {
      img {
        transform: scale(1.04);
      }
    }
  }
  img {
    width: 100%;
  }
}
.date {
  color: var(--color-green-dark);
}
.readMore {
  color: var(--color-green);
  text-align: end;
    &:hover {
      color: var(--color-green-hover);
    }
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 10px;
      background-image: url("../../../../public/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 8px;
    }
}
.textGroup {
  gap: 16px;
}
.heading {
  // margin-bottom: 16px;
}
.image {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  img {
    transition: all 250ms;
  }
}
