.carousel {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 0;
  max-width: 100%;
}
.carouselContainer {
  gap: 48px;
  flex-direction: column;
}
.textGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  h2 {
    flex: 1;
  }
  .buttonContainer {
    flex: 1;
  }
}
.swiperContainer {
  width: 100%;
}


@media screen and (max-width: 768px) {
  .carousel {
    max-width: 100%;
    padding-top: 0;
  }
  .carouselContainer {
    padding: 0 16px 0 16px;
    gap:16px;
  }
  .textGroup {
    padding: 16px;
    padding-left: 0;
    h2 {
      font-size: 28px;
    }
    a {
      width: auto;
    }
  }
  .swiperSlide {
    width: 90%;
    margin-left: 0;
  }
}
