.container {
    display: flex;
    flex-direction: row;
    gap: 108px;
    margin-top: -48px;
    z-index: 1;
    position: relative;
}
.textGroup {
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 640px;
}
.textGroup.textDonate {
    padding: 32px;
    background-color: var(--color-green-darkest);
        border-radius: var(--border-radius-medium);
    * {
        color: white;
    }
    strong {
        font-size: 32px;
    }
}