.footer {
  background-color: #00473b;
  position: relative;
  padding-top: 208px;
  margin-top: 208px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  a,
  p, h1, h2, h3, h4 {
    color: white;
  }
  background-image: url(../../../../public/footerbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.image {
  height:200px;
  width:200px;
  img {
    filter: brightness(0) invert(1);
  }
}
.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.linkGroup,
.contactGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.linkGroup {
  flex-wrap: wrap;
  max-height:120px;
  width:400px
}

.crsContainer {
  border-top: 1px solid #336c62;
  padding-top: 32px;
}
.socialGroup {
  display: flex;
  gap: 16px;
  a {
    &:hover {
      a {
        box-shadow: var(--shadow-medium);
      }
    }
  }
}
.bannerContainer {
  position: absolute;
  background-color: #60A561;
  bottom:100%;
  left:50%;
  transform: translate(-50%, 50%);
  z-index: 100;
  padding-top: 49px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-medium);
  display:flex;
  .textGroup {
    max-width: 440px;
  }
  &::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 400px;
    background: url(../../../../public/bannerveg.webp) no-repeat;
    background-size: 200px;
    background-position: right 520px top 0px;
    z-index: -1;
  }
}
.textGroup {
  display: flex;
  flex:1;
  flex-direction: column;
  gap: 16px;
  max-width: 700px;
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 328px;
    margin-top: 328px;
  }
  .image {
    display: none;
  }
  .linkGroup {
    max-height:1000px;
  }
  .bannerContainer {
    margin: 0 16px 0 16px;
    width: calc(100% - 32px);
    left: calc(50% - 16px);
  }
  .footerContainer {
    justify-content: space-around;
  }
  .footerContainer,
  .crsContainer {
    flex-direction: row;
  }
}
