.header {
  width: 100%;
  position: relative;
  min-height: 320px;
}
.heading {
  font-size: 48px;
  line-height: 48px;
}
.textGroup {
  padding: 96px;
  background-color: #dfebd4;
  border-radius: 0 200px 0 200px;
  flex: 1;
  position: relative;
  z-index: 1;
  &.imageFullNoText,
  &.imageFullTextLeft,
  &.imageFullTextRight {
    z-index: 3;
    border-radius: var(--corner-radius);
    background-color: var(--background-ten);
    color: var(--text-light);
    padding:64px;
    margin-top: 92px;
    margin-bottom: 92px;
  }
}

.paragraph {
  font-size: 18px;
  line-height: 27px;
  max-width: 1000px;
}
.image {
  position: relative;
  // width: 120%;
  height: 700px;
  margin-left: -140px;
  flex: 1;
  z-index: 2;
  &.imageFullNoText,
  &.imageFullTextLeft,
  &.imageFullTextRight {
    position: static;
    height: auto;
  }
}
//tablet
@media only screen and (max-width: 917px) {
  .image {
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
//mobile
@media only screen and (max-width: 768px) {
  .header {
    padding: 32px 0 64px 0;
  }
  .heading {
    font-size: 44px;
    margin-bottom: 0;
  }
  .paragraph {
    font-size: 16px;
  }
  .textGroup {
    padding: 0px;
    background: transparent;
  }
  .image {
    width: 100%;
    margin-left: 0;
    height: 400px;
  }
}
