.header {
  width: 100%;
}
.heading {
  font-size: 48px;
  line-height: 48px;
}
.textGroup {
  padding: 96px;
  background-color: #dfebd4;
  border-radius: 0 200px 0 200px;
  flex: 1;
  position: relative;
}
.textGroup:before {
  content: "";
  position: absolute;
  top: -20px;
  bottom: 20px;
  left: -16px;
  right: 16px;
  border: 2px solid #00473b;
  border-radius: 0 200px 0 200px;
  z-index: 1; /* Ensure the new element appears on top of .textGroup */
}

.paragraph {
  font-size: 18px;
  line-height: 27px;
  max-width: 1000px;
}
.image {
  position: relative;
  // width: 120%;
  height: 700px;
  margin-left: -140px;
  flex: 1;
  z-index: 2;
}
//tablet
@media only screen and (max-width: 917px) {
  .image {
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
//mobile
@media only screen and (max-width: 768px) {
  .header {
    padding: 32px 0 64px 0;
  }
  .heading {
    font-size: 44px;
    margin-bottom: 0;
  }
  .paragraph {
    font-size: 16px;
  }
  .textGroup {
    padding: 0px;
    background: transparent;
  }
  .image {
    width: 100%;
    margin-left: 0;
    height: 400px;
  }
}
