.header {
  width: 100%;
  position: relative;
  min-height: 320px;
}
.heading {
  font-size: 64px;
  line-height: calc(64px * 1);
}
.paragraph {
  font-size: 18px;
  line-height: 27px;
  max-width: 1000px;
}
.image {
  position: relative;
  // width: 120%;
  height: 700px;
  margin-left: -140px;
  flex: 1;
  z-index: 2;
  &.imageFullNoText,
  &.imageFullTextLeft,
  &.imageFullTextRight {
    position: static;
    height: auto;
  }
}
.textGroup {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 104px;
  padding-right: 64px;
  height: 100%;
  position: relative;
  z-index: 1;
  &.imageFullNoText,
  &.imageFullTextLeft,
  &.imageFullTextRight {
    z-index: 3;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-red-light);
    padding: 64px;
    margin-top: 92px;
    margin-bottom: 92px;
    backdrop-filter: blur(8px);
    * {
      color: var(--text-light);
    }
  }
}
//desktop
@media only screen and (min-width: 768px) {
  .textGroup {
    &:before {
      content: "";
      position: absolute;
      top: -60px;
      left: -32px;
      width: 130%;
      height: 120%;
      background-image: url("../../../../public/blob.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}
//tablet
@media only screen and (max-width: 917px) {
  .image {
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
//mobile
@media only screen and (max-width: 768px) {
  .header {
    padding: 32px 0 64px 0;
    padding-bottom: 0;
  }
  .heading,
  .lastWord {
    font-size: 60px;
    line-height: 52px;
  }
  .paragraph {
    font-size: 18px;
  }
  .textGroup {
    padding: 0px;
    background: transparent;
    &.imageFullNoText,
    &.imageFullTextLeft,
    &.imageFullTextRight {
      padding: 32px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin: 0;
    }
  }
  .image {
    width: 100%;
    margin-left: 0;
    height: 400px;
    display:none;
  }
  .buttonContainer {
    flex-direction: column;
    gap: 0px;
    .button {
      width: 100%;
    }
  }
}
