.header {
  width: 100%;
  position: relative;
  min-height: 320px;
}
.heading {
  font-size: 64px;
  line-height: 64px;
}
.paragraph {
  font-size: 18px;
  line-height: 27px;
  max-width: 1000px;
}
.image {
  position: relative;
  // width: 120%;
  height: 700px;
  margin-left: -140px;
  flex: 1;
  z-index: 2;
  &.imageFullNoText,
  &.imageFullTextLeft,
  &.imageFullTextRight {
    position: static;
    height: auto;
  }
}
//desktop 
@media only screen and (min-width: 768px) {
  .textGroup {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 104px;
    padding-right: 64px;
    height:100%;
    position: relative;
    z-index: 1;
    &.imageFullNoText,
    &.imageFullTextLeft,
    &.imageFullTextRight {
      z-index: 3;
      border-radius: var(--corner-radius);
      background-color: var(--background-ten);
      color: var(--text-light);
      padding:64px;
      margin-top: 92px;
      margin-bottom: 92px;
    }
    &:before {
      content: "";
      position: absolute;
      top: -60px;
      left: -32px;
      width: 130%; 
      height: 120%;
      background-image: url('../../../../public/blob.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1; 
    }
  }
}
//tablet
@media only screen and (max-width: 917px) {
  .image {
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
//mobile
@media only screen and (max-width: 768px) {
  .header {
    padding: 80px 0 64px 0;
  }
  .heading {
    font-size: 68px;
  }
  .paragraph {
    font-size: 18px;
  }
  .textGroup {
    padding: 0px;
    background: transparent;
  }
  .image {
    width: 100%;
    margin-left: 0;
    height: 400px;
  }
  .buttonContainer {
    flex-direction: column;
    gap: 16px;
    .button {
      width: 100%;
    }
  }
}
