.image {
    width:100%;
    position: relative;
    height:300px;
    &.small {
        height: 200px;
    }
    &.medium {
        height: 400px;
    }
    &.large {
        height: 600px;
    }
}
.image {
    width:100%;
    // height:320px;
}