.navContainer {
  width: 100%;
  height: 100px;
}
.linkGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  a {
    transition: all 250ms ease-in-out;
    &:nth-last-child(3) {
      margin-left: auto;
    }
    &:hover:not(.button) {
      color: var(--color-red);
      transform: scale(1.05);
    }
  }
  
}
.image {
  height: 80px;
  margin-top: -20px;
}

//hamburger menu for both desktop and mobile
.burgerGroup {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 38px;
  padding: 10px;
  cursor: pointer;
  .bar {
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .bar {
    width: 22px;
  }
  .bar:nth-child(2) {
    width: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .navContainer {
    flex-direction: row!important;
    position: static;
  }
  .crossGroup {
    position: absolute;
    top: 32px;
    right: 16px;
    width: 42px;
    height: 38px;
    cursor: pointer;
    .crossWrapper {
      width: 100%;
      height: 100%;
      position: relative;
      .bar {
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: white;
        // transform: rotate(45deg);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        &:last-child {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  .burgerGroup {
    display: flex;
  }
  .linkGroup {
    display: none;
    position: fixed;
    background-color: var(--color-green-darkest);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:16px;
    gap: 24px;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    top: 0;
    left: 0;
    a {
      text-align: center;
      font-size: 20px;
      color:var(--text-light);
      &:nth-last-child(3) {
        margin-left: 0;
      }
      &:nth-last-child(2) {
        margin-top: 64px;
      }
      &:hover:not(.button) {
        color: var(--color-red);
        transform: scale(1.05);
      }
    }
    &.open {
      display: flex;
    }
  }
}
