.textAndForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 32px;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 108px;
}
.textGroup {
    max-width: 540px;
}