.text {
    padding: 64px 0 64px 0;
  }
  .textContainer {
    justify-content: center;
  }
  .heading,
  .paragraph {
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    .text {
      padding: 100px 0 64px 0;
      margin: -120px 16px 0 16px;
      background-color: var(--background-nine);
      border-radius: 100px 0 100px 0;
    }
  }
  