.text {
    padding: 80px 0 80px 0;
  }
  .textContainer {
    justify-content: center;
  }
  .textGroup {
    * {
      text-align: center;
    }
  }
  @media only screen and (max-width: 768px) {
    .text {
      position: relative;
      padding: 100px 0 64px 0;
      margin: -120px 16px 0 16px;
      background-color: var(--background-nine);
      border-radius: 100px 0 100px 0;
      font-size: 18px;
      margin-top: 144px;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        right:0;
        bottom:0;
        width: 110%; 
        height: 100%;
        background-image: url('../../../../public/blob.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1; 
        transform: translate(-50%, -50%);
      }
      &:after {
        content: "";
        position: absolute;
        top: -108px;
        left: 42%;
        right:0;
        bottom:0;
        width: 100%; 
        height: 100%;
        background-image: url('../../../../public/hero_veggies.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1; 
        transform: translate(-50%, -50%);
      }
    }

  }
