.container {
    display: flex;
    padding-bottom: 80px;
}

.image {
    position: relative;
    width:100%;
    height:fit-content;
    padding:32px;
    background-color: white;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-small);
    img {
        overflow: hidden;
    }
}