.header {
  width: 100%;
}
.heading {
  font-size: 48px;
  line-height: 48px;
}
.textGroup {
  padding: 96px;
  background-color: #00473b;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0 200px 0 200px;
  flex: 1;

  * {
    color: white;
  }
}
.paragraph {
  font-size: 18px;
  line-height: 27px;
  max-width: 1000px;
}
.image {
  position: relative;
  // width: 120%;
  height: 700px;
  margin-left: -140px;
  flex: 1;
}
//tablet
@media only screen and (max-width: 917px) {
  .image {
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
//mobile
@media only screen and (max-width: 768px) {
  .header {
    padding: 32px 0 64px 0;
  }
  .heading {
    font-size: 44px;
    margin-bottom: 0;
  }
  .paragraph {
    font-size: 16px;
  }
  .textGroup {
    padding: 0px;
    background: transparent;
  }
  .image {
    width: 100%;
    margin-left: 0;
    height: 400px;
  }
}
